.big-slide {
  position: absolute;
  width: 58%;
  right: 2em;
  background: white;
  min-height: 23em;
  top: 2em;
  border: 1px solid black;


  .draggable-item {
    position: absolute;
    top: 1em;
    left: 1em;
    width: auto;
    height: 100%;
    border: 1px solid black;
  }

  .item-1 {
    background: url("http://i1.mirror.co.uk/incoming/article1284121.ece/alternates/s615/TOM%20HANKS%20POSES%20WITH%20A%20DRUNK%20FAN") no-repeat center;
    background-size: contain;
    min-width: 6em;
    overflow: hidden;
  }

  .item-2 {
    background: url("http://3.bp.blogspot.com/_NGlbwmF2Lh4/TUqezhlnCoI/AAAAAAAAUck/xELra7D2iZw/s1600/01-tom-hanks-animals-blog.jpeg") no-repeat center;
    background-size: contain;
  }
}
