$primary-item-color: #e4e4e4;

.output-wrapper {
  position: absolute;
  top: 1em;
  right: .5em;
  width: 15%;
}


.big-slide {
  height: 500px;
  margin-top: 1rem;
  // background: $primary-item-color;
  border: 1px solid black;
  font-size: 4px;
  padding: 1em;
  border-radius: .5em;
}

  //
  // .draggable-item {
  //   position: absolute;
  //   top: 1em;
  //   left: 1em;
  //   width: 2em;
  //   min-height: 4em;
  //   border: 1px solid black;
  // }
  //
  // .item-1 {
  //   background: green;
  //   background-size: cover;
  //   overflow: hidden;
  //   min-width: 4em;
  //   min-height: 4em;
  // }
  //
  // .item-2 {
  //   background: url("http://3.bp.blogspot.com/_NGlbwmF2Lh4/TUqezhlnCoI/AAAAAAAAUck/xELra7D2iZw/s1600/01-tom-hanks-animals-blog.jpeg") no-repeat center;
  //   background-size: cover;
  // }
